@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tapestry");
@import url("https://fonts.googleapis.com/css2?family=Orelega+One");
:root {
    --material-icons-color: black;
    --field-color: gray;
    --field-background: white;
    --field-background-hover: #eee;
    --input-background: #eee;
    --overlay-background: rgba(143, 189, 211, 0.8);
    --overlay-caption-color: #8FBDD3;
    --overlay-content-background: linear-gradient(white, #E4D1B9);

    --header-background: linear-gradient(to right, #a97155, #BE8C63);
    --main-panel-background: linear-gradient(white, #BE8C63);
    --online-users-panel-background: linear-gradient(to right, #E4D1B9, #BE8C63);
    --chat-panel-background: none;

    --title-color: white;
    --caption-color: black;

    --font-color: black;
    --room-background: pink;

    --register-form-background: linear-gradient(#E4D1B9, #BE8C63);
    --warning-color: red;

    --button-color: black;
    --button-background: #BE8C63;
    --button-background-hover: #E4D1B9;
}
* {
    font-family: "Josefin Sans", sans-serif;
    color: var(--font-color);
    box-sizing: border-box;
}

/* Basic */
body {
    min-width: 600px;
    min-height: 300px;
    height: 100vh;
    padding: 0;
    margin: 0;
}
.center { text-align: center; }
.shadow { box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.4); }

/* Google icon */
.material-icons {
    color: var(--material-icons-color);
}

/* Flexbox related */
.row, .col {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px;
}
.col { flex-direction: column; }
.spacer-0 { width: 0; height: 0; }
.spacer-1 { width: 5px; height: 5px; }
.spacer-2 { width: 10px; height: 10px; }
.spacer-grow { flex-grow: 1; }

/* Overlay */
.overlay {
    position: fixed;
    left: 0; top: 0;
    width: 100%; height: 100%;
    background: var(--overlay-background);
}
.overlay .caption {
    font-size: 120%;
    color: var(--overlay-caption-color);
}
.overlay .content {
    background: var(--overlay-content-background);
}
.warning {
    font-weight: bold;
    color: var(--warning-color);
}

/* Form related */
form input, form select {
    width: 100%;
}
input, select {
    font-size: 1rem;
    background: var(--input-background);
    border: none;
    border-radius: 20px;
    padding: 10px 15px;
}
input::placeholder, select {
    color: gray;
}
button {
    font-weight: bold;
    border-radius: 50px;
    height: 40px;
    border: 1px solid black;
    color: var(--button-color);
    background: var(--button-background);
    box-shadow: 2px 2px 2px rgb(0, 0, 0, 0.4);
    padding: 0 20px;
    transition: 0.5s background;
    cursor: pointer;
}
button:hover {
    background: var(--button-background-hover);
}
button:active {
    margin: 2px -2px -2px 2px;
    box-shadow: 0px 0px;
}
button.icon {
    height: inherit;
    border: none;
    border-radius: 2px;
    background: none;
    box-shadow: none;
    padding: 3px 5px;
    padding-top: 5px;
}
button.icon * {
    color: white;
}
button.icon:hover {
    background: var(--button-background-hover);
}
button.icon:active {
    margin: 2px -2px -2px 2px;
}

/* Data field caption and content */
.field-content {
    border-radius: 50px;
    padding: 10px 15px;
    background: var(--field-background);
    transition: 1s background;
}
.room-content {
    border-radius: 10px;
    width: 800px;
    padding: 10px 15px;
    background: var(--room-background);
}

.room-info{
    padding: 30px 20px;
    font-size: 130%
}


.field-content:hover {
    background: var(--field-background-hover);
}
.user-name {
    white-space: nowrap;
}

/* Top level container */
#container {
    align-items: stretch;
    gap: 0px;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

/* Header */
#header {
    height: 80px;
    background: var(--header-background);
    padding: 0 20px;
}
#title {
    font-family: "Josefin Sans", sans-serif;
    font-size: 300%;
    text-transform: uppercase;
    color: var(--title-color);
    user-select: none;
}
#title .material-icons {
    color: var(--title-color);
    font-size: 36px;
}
#user-panel {
    padding: 0;
}
#signin-user {
    cursor: pointer;
}


#main-panel {
    height: calc(100% - 80px);
    background: var(--main-panel-background);
    padding: 0;
    margin: 0;
}

#room-panel {
    flex-grow: 1;
    align-items: center;
    height: 100%;
    background: var(--chat-panel-background);
    padding: 0;
    margin: 0;
}
#room-area {
    height: 100%;
    align-items: flex-start;
    justify-content: start;
    gap: 20px;
    overflow-y: auto;
    padding: 10px;
}
.room-content-panel {
    align-items: center;
    color: black;
}

#new-room-panel {
    font-size: 130%;
}

.d-map {
    background-color: gold;
}

.g-map {
    background-color: #7ec850;
}

.s-map {
    background-color: skyblue;
}

/* Signin overlay */
#signin-form {
    width: 270px;
    align-self: stretch;
}
#register-form {
    width: 380px;
    background: var(--register-form-background);
    padding: 20px;
}

/* Edit user overlay */
#edit-user-form {
    width: 270px;
    align-self: stretch;
}